
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px){
    .thumbnail img.img-responsive{
        //max-height: 150px;
        max-width: 150px;
    }
    div.form-group label.control-label,
    input.form-control,
    select.form-control{
        font-size: 1.0em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .thumbnail img.img-responsive{
        //max-height: 200px;
        max-width: 250px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)  and (max-width : 991px) {
    .thumbnail img.img-responsive{
        //max-height: 400px;
        max-width: 400px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .thumbnail img.img-responsive{
        max-height: 500px;
        max-width: 500px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .thumbnail img.img-responsive{
        //max-height: 450px;
        max-width: 400px;
    }
}
div.form-group > label.control-label{
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
}
.box-browse-upload{
    background-color: #fff3e0;
    border-style: dashed;
    border-color: green;
}

#albumImage img{
    border:2px solid white;
}
.active img{border:2px solid #333 !important;}

/*
* ***************************** Navbar ************************************
*/
#my-menu.navbar-default .navbar-brand {
    color: rgba(255, 235, 235, 1);
}
#my-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(251, 192, 45, 1);
    background: -webkit-linear-gradient(top, rgba(230, 81, 0, 1) 0%, rgba(251, 192, 45, 1) 100%);
    background: linear-gradient(to bottom, rgba(230, 81, 0, 1) 0%, rgba(251, 192, 45, 1) 100%);
    border-bottom-width: 1px;
}
#my-menu.navbar-default .navbar-nav>li>a {
    color: rgba(138, 0, 0, 1);
    background-color: rgba(251, 192, 38, 1);
    background: -webkit-linear-gradient(top, rgba(230, 81, 0, 1) 0%, rgba(251, 192, 38, 1) 100%);
    background: linear-gradient(to bottom, rgba(230, 81, 0, 1) 0%, rgba(251, 192, 38, 1) 100%);
}
#my-menu.navbar-default .navbar-nav>li>a:hover,
#my-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(176, 19, 19, 1);
    background-color: rgba(232, 37, 37, 1);
    background: -webkit-linear-gradient(top, rgba(199, 4, 4, 1) 0%, rgba(232, 37, 37, 1) 100%);
    background: linear-gradient(to bottom, rgba(199, 4, 4, 1) 0%, rgba(232, 37, 37, 1) 100%);
}
#my-menu.navbar-default .navbar-nav>.active>a,
#my-menu.navbar-default .navbar-nav>.active>a:hover,
#my-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(64, 5, 5, 1);
    background-color: rgba(255, 5, 5, 1);
}
#my-menu.navbar-default .navbar-toggle {
    border-color: #ff0505;
}
#my-menu.navbar-default .navbar-toggle:hover,
#my-menu.navbar-default .navbar-toggle:focus {
    background-color: #ff0505;
}
#my-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ff0505;
}
#my-menu.navbar-default .navbar-toggle:hover .icon-bar,
#my-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fbc02d;
}
/*
* ***************************** Navbar ************************************
*/
