
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 480px){
    .thumbnail img.img-responsive{
        //max-height: 150px;
        max-width: 150px;
    }
    div.form-group label.control-label,
    input.form-control,
    select.form-control{
        font-size: 1.0em;
    }
    .nav-tabs *{
        font-size: 0.90em;    
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 481px) and (max-width : 767px) {
    .thumbnail img.img-responsive{
        //max-height: 200px;
        max-width: 250px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)  and (max-width : 991px) {
    .thumbnail img.img-responsive{
        //max-height: 400px;
        max-width: 400px;
    }
    .nav-tabs *{
        font-size: 1.0em;    
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .thumbnail img.img-responsive{
        max-height: 500px;
        max-width: 500px;
    }
    .nav-tabs *{
        font-size: 1.1em;    
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .thumbnail img.img-responsive{
        //max-height: 450px;
        max-width: 400px;
    }
    .nav-tabs *{
        font-size: 1.1em;    
    }
}
div.form-group > label.control-label{
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
}
.box-browse-upload{
    background-color: #fff3e0;
    border-style: dashed;
    border-color: green;
}
/*
* ************************************************************************
*/
.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {display: block;}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
.image-container .after .content {
    position: absolute;
    bottom: 0;
    font-family: Arial;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.image-container .after .zoom {
    color: #DDD;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -19px;
    height: 50px;
    width: 45px;
    cursor: pointer;
}
.image-container .after .zoom:hover {
    color: #FFF;
}

/*
* ************************************************************************
*/

#albumImage img{
    border:2px solid white;
}
.active img{border:2px solid #333 !important;}

/*
* ***************************** Navbar ************************************
*/

.navbar-custom {
    background-color: #fbc02d;
    border-color: #fab60c;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fccf5f), to(#fbc02d));
    background-image: -webkit-linear-gradient(top, #fccf5f, 0%, #fbc02d, 100%);
    background-image: -moz-linear-gradient(top, #fccf5f 0%, #fbc02d 100%);
    background-image: linear-gradient(to bottom, #fccf5f 0%, #fbc02d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffccf5f', endColorstr='#fffbc02d', GradientType=0);
}
.navbar-custom .navbar-brand {
    color: #000000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #000000;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #000000;
}
.navbar-custom .navbar-nav > li > a {
    color: #000000;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #ff0000;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ff0000;
    background-color: #fab60c;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fab60c), to(#fbc53f));
    background-image: -webkit-linear-gradient(top, #fab60c, 0%, #fbc53f, 100%);
    background-image: -moz-linear-gradient(top, #fab60c 0%, #fbc53f 100%);
    background-image: linear-gradient(to bottom, #fab60c 0%, #fbc53f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffab60c', endColorstr='#fffbc53f', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #ee3800;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #ee3800;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ff0000;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #fab50a;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ff0000;
    border-bottom-color: #ff0000;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #fab60c;
    color: #ff0000;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ff0000;
    border-bottom-color: #ff0000;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #000000;
    border-bottom-color: #000000;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ff0000;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ff0000;
        background-color: #fab60c;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #000000;
}
.navbar-custom .navbar-link:hover {
    color: #ff0000;
}
/*
* ***************************** Navbar ************************************
*/


/*
* Page Login
*/
.login *{
    font-size: 1.1em;    
}

/*
* Sidebar Right
*/
.sidebar span.task-title-sp,span.task-title{
    font-size: 1.45em;
}
.panel-news *,
fieldset input *,
fieldset textarea,
#profile .panel-body dl *,
#contact .panel-body dl *
{
    font-size: 1.4em;    
}
.panel-news a,
.site-footer *{
    font-size: 1.15em;    
}


.form-lg input,
.form-lg select,
.form-lg textarea{
    font-size: 1.4em;
}

hr.facebook {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.facebook:after {
    content: "หรือ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
.btn-facebook{
    background-image: url('../images/facebook.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
form label.control-label *{
    font-weight: bold;
    color: red;
}

body *,h5 *{
    font-family: 'TH-Dan-Vi-Vek';                
}
body a, 
div.alert, 
div.panel-heading,
div.panel-body,
ul li a,
table.table,
div.media-body{
    font-size: 1.4em;
    color : black;
}
body div.media-body h4,
input,select,textarea,
ul.nav{
    font-size: 1.55em;
}

